.form
  %input.form__message{placeholder: "Type a message", type: "text"}
  %label{class: "file_upload"}
    %input#file_upload{type: "file", value: "Send"}
  %input.form__submit{type: 'submit', value: 'Send'}