.form {
  background-color: black;
  bottom: 0;
  // position: absolute;
  box-sizing: border-box;
  width: calc(100vw - 200px);
  padding: 20px 50px 20px 40px;
  border-top: 10px; 
  height:100px;
  position: fixed;
  &__message {
    padding: 0 40px 0 10px;
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
    display: table;
}
  &__submit {
    background-color:white;
    border: none;
    width: 100px;
    color: black;
    font-size: 16px;
    height: 50px;
    margin-left: 5px;
    text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px #ffffff73;
  }
  label > input {
    display:none;
    margin-left: 30px;
    }
    label {
    background-color: aqua;
    margin-left: 5px;
    padding: 14px;
    float: left;;
    }
    label:before{
      font-family: FontAwesome Free;
      font-weight: 200px;
      content: "\f002";
    }
  }
