* {
  box-sizing: border-box;
  text-decoration: none;
}
a:visited{
  color: white;
}

.message-header{
  background-color: black;
  height:100px;
  width: 100%;
  position: fixed;
  .header-text{
    h1{
      font-family: cursive;
      float: left;
      font-size: 55px;
      color: white;
      margin-left: 300px;
      a:visited{
        text-decoration:none;color:white
      }
      a:hover{
        text-shadow:
        0 0 2px rgba(204, 208, 212,0.9),
        0 15px 25px rgba(0, 0, 0, 0.3),
        0 -2px 3px rgba(0, 0, 0, 0.1),
        0 -5px 10px rgba(255, 255, 255, 0.5),
        0 5px 10px rgba(0, 0, 0, 0.3),
        0 3px 4px rgba(255, 255, 255, 0.2),
        0 0 20px #ffffff73;
      }
    }
    &__link{
      display: table;
      font-family: cursive;
      font-size: 30px;
      float: right;
      margin-top:40px;
      margin-right: 40px;
      a:visited{
        text-decoration:none;color:white
      }
      a:hover{
        text-shadow:
        0 0 2px rgba(204, 208, 212,0.9),
        0 15px 25px rgba(0, 0, 0, 0.3),
        0 -2px 3px rgba(0, 0, 0, 0.1),
        0 -5px 10px rgba(255, 255, 255, 0.5),
        0 5px 10px rgba(0, 0, 0, 0.3),
        0 3px 4px rgba(255, 255, 255, 0.2),
        0 0 20px #ffffff73;
      }
    }
  }
}