* {
  box-sizing: border-box;
  text-decoration: none;
}
a:visited{
  color: white;
}

.message-side{
  width: 200px;
  background-color: black;
  height: 100vh;
  float: right;
  .side-text{
    margin-top: 50px;
    color: white;
    height: 50px;
    padding: 0 30px;
    white-space: nowrap;
    text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px #ffffff73;
    &__group{
      margin-top: 50px;
      color: white;
      height: 50px;
      text-shadow:
      0 0 2px rgba(204, 208, 212,0.9),
      0 15px 25px rgba(0, 0, 0, 0.3),
      0 -2px 3px rgba(0, 0, 0, 0.1),
      0 -5px 10px rgba(255, 255, 255, 0.5),
      0 5px 10px rgba(0, 0, 0, 0.3),
      0 3px 4px rgba(255, 255, 255, 0.2),
      0 0 20px #ffffff73;
      &__name{
        font-size: 20px;
        word-break:break-all;
      }
    }
    &__new{
      margin-top: 50px;
      color: white;
      height: 50px;
      font-size: 30px;
      text-shadow:
      0 0 2px rgba(204, 208, 212,0.9),
      0 15px 25px rgba(0, 0, 0, 0.3),
      0 -2px 3px rgba(0, 0, 0, 0.1),
      0 -5px 10px rgba(255, 255, 255, 0.5),
      0 5px 10px rgba(0, 0, 0, 0.3),
      0 3px 4px rgba(255, 255, 255, 0.2),
      0 0 20px #ffffff73;
    }
    &__edit{
      margin-top: 50px;
      color: white;
      height: 50px;
      font-size: 30px;
      text-shadow:
      0 0 2px rgba(204, 208, 212,0.9),
      0 15px 25px rgba(0, 0, 0, 0.3),
      0 -2px 3px rgba(0, 0, 0, 0.1),
      0 -5px 10px rgba(255, 255, 255, 0.5),
      0 5px 10px rgba(0, 0, 0, 0.3),
      0 3px 4px rgba(255, 255, 255, 0.2),
      0 0 20px #ffffff73;
    }
    &__out{
      margin-top: 50px;
      color: white;
      height: 50px;
      font-size: 30px;
      text-shadow:
      0 0 2px rgba(204, 208, 212,0.9),
      0 15px 25px rgba(0, 0, 0, 0.3),
      0 -2px 3px rgba(0, 0, 0, 0.1),
      0 -5px 10px rgba(255, 255, 255, 0.5),
      0 5px 10px rgba(0, 0, 0, 0.3),
      0 3px 4px rgba(255, 255, 255, 0.2),
      0 0 20px #ffffff73;
    }
  }
}