.message{
  z-index: auto;
}

.message-font{
  position: relative;
  padding: 20px;
  bottom: 40px;
  border-radius: 10px;
  width:200px;
  color: #ffffff;
  background-color: #0888ff;
  margin-left: 110px;  
}

.message-font:before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

// .message-font:after{
//   content: '';
//   position: absolute;
//   display: block;
//   border-radius: 50%;
//   background-color: white;
//   left: -55px;
//   bottom: 10px;
//   width: 15px;
//   height: 15px;
// }

