* {
  box-sizing: border-box;
  text-decoration: none;
}



.message-main{
  background-image: image-url("talk.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
  float: left;
  width: 100%;
  .messages{
      height: calc(100vh - 100px);
      position: relative;
      top:100px;
      padding: 30px 40px;
      overflow: scroll;
  }
}