* {
  box-sizing: border-box;
  text-decoration: none;
}



.message-main{
  background-image: image-url("talk.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: calc(100% - 200px);
  border-top: 100px;
  overflow: scroll;
  position: fixed;
}