

.chat-side{
  width: 300px;
  color: white;
  float: left;
  a,a:hover,a:visited{
    color: white;
  }
  .side-header{ 
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .box{
      height: 24px;
      width:240px;
    &__user-name{
      display: inline-block;
    }
    &__menu{
      float: right;
      height: 24px;
      width: 40px;
      display: flex;
    }
    &__menu__new-group{
      margin-left: 0.3rem;
      height: 24px;
      width: 16px;
    }
    &__menu__edit-user{
      margin-left: 0.3rem;
      width: 14px;
      height: 24px;
    }
    &__fa fa-cog icon{
      color: white;
    }
  }
}
  .groups{
    width:300px;
    height:calc(100vh - 100px);
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #2f3e51;
    overflow: scroll;
    .group{
      color: white;
      padding: 0 20px;
      margin-top: 20px;
      margin-bottom: 40px;
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
        text-decoration: none;
        color: white;
      }
      &__group-message{
        font-size: 11px;
        color: white;
      }
    }
  }

  .link_group{
    color: white;
  }
}